.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-form > h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login-form > input {
  min-width: 380px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2px;
  font-size: 15px;
}

.submit-btn {
  padding: 17px 30px;
  margin-top: 10px;
  background: #15a86b;
  border: none;
  color: aliceblue;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #20634a;
}
